<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container">
    <a class="navbar-brand" href="#">Icomon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{URL}}"><button type="button" class="btn btn-outline-primary">Inicio</button></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false"><button type="button" class="btn btn-outline-primary">Sobre BA97</button></a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="cadastrar-ba">Cadastrar  BA97</a></li>
            <li><a class="dropdown-item" href="preencher-ba">Preencher  BA97</a></li>
            <li><a class="dropdown-item" href="visualizar-ba">Visualizar BA97</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{URL}}/sobre"><button type="button" class="btn btn-outline-primary">Sobre</button></a>
        </li>
      </ul>
      <form>
        <button type="button" class="btn btn-secondary">Usuario</button>
        <button type="button" class="btn btn-dark">Sair</button>
      </form>
    </div>
  </div>
</nav>
